// .stacking-chart {
//   #SvgjsText1020 {
//     display: none;
//   }
//   .apexcharts-legend.apexcharts-align-center.apx-legend-position-bottom {
//     display: grid;
//     grid-template-columns: repeat(2, minmax(0, 1fr));
//     justify-items: baseline;
//     gap: 15px;

//     .apexcharts-legend-series {
//       border: 1px solid rgba(0, 0, 0, 0.09);
//       border-radius: 7px;
//       padding: 3px 5px;

//       .apexcharts-legend-marker {
//         width: 20px !important;
//         height: 20px !important;
//         margin-right: 8px;
//       }

//       .apexcharts-legend-text {
//         font-family: "Space Grotesk" !important;
//         font-weight: 500 !important;
//         font-size: 16px !important;
//         line-height: 20px !important;
//         color: #000000;
//       }
//     }
//   }
// }

// .progress-radial {
//   width: 180px;
//   height: 180px;
//   position: relative;

//   &::before {
//     content: "";
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     z-index: 999;
//     right: 0;
//     top: 0;
//     background-image: url("../icons/dots.svg");
//     background-size: contain;
//     background-position: center;
//     background-repeat: no-repeat;
//   }

//   .outer {
//     height: 160px;
//     width: 160px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 50%;
//   }

//   .inner {
//     height: 148px;
//     width: 148px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 50%;
//     border: 8px solid rgba(239, 237, 248, 0.8);
//   }

//   #progressNum {
//     font-weight: 500;
//     font-size: 32px;
//     line-height: 100%;
//     color: #000000;
//   }

//   circle {
//     fill: none;
//     stroke: url(#GradientColor);
//     stroke-dasharray: 450;
//     stroke-dashoffset: 450;
//     stroke-width: 20px;
//     animation: anim 1s linear forwards;
//   }

//   svg {
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
// }

// @keyframes anim {
//   100% {
//     // 450 - 450 * 0.35 = 292.5
//     stroke-dashoffset: 292.5;
//   }
// }

// @media screen and (max-width: 1500px) {
//   .stacking-chart {
//     #SvgjsText1020 {
//       display: none;
//     }
//     .apexcharts-legend.apexcharts-align-center.apx-legend-position-bottom {
//       .apexcharts-legend-series {

//         .apexcharts-legend-marker {
//           width: 16px !important;
//           height: 16px !important;
//           margin-right: 8px;
//         }

//         .apexcharts-legend-text {
//           font-size: 14px !important;
//         }
//       }
//     }
//   }

//   .progress-radial {
//     width: 180px;
//     height: 180px;
//     position: relative;

//     &::before {
//       content: "";
//       width: 100%;
//       height: 100%;
//       position: absolute;
//       z-index: 999;
//       right: 0;
//       top: 0;
//       background-image: url("../icons/dots.svg");
//       background-size: contain;
//       background-position: center;
//       background-repeat: no-repeat;
//     }

//     .outer {
//       height: 160px;
//       width: 160px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       border-radius: 50%;
//     }

//     .inner {
//       height: 148px;
//       width: 148px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       border-radius: 50%;
//       border: 8px solid rgba(239, 237, 248, 0.8);
//     }

//     #progressNum {
//       font-weight: 500;
//       font-size: 32px;
//       line-height: 100%;
//       color: #000000;
//     }

//     circle {
//       fill: none;
//       stroke: url(#GradientColor);
//       stroke-dasharray: 450;
//       stroke-dashoffset: 450;
//       stroke-width: 20px;
//       animation: anim 1s linear forwards;
//     }

//     svg {
//       position: absolute;
//       top: 0;
//       left: 0;
//     }
//   }
// }










.stacking-chart {
  #SvgjsText1020 {
    display: none;
  }

  path#SvgjsPath3646 {
    fill: #38d4c5;
    border: none;
  }

  path#SvgjsPath3640 {
    fill: #ff6384;
    border: none;
  }

  path#SvgjsPath3644 {
    fill: #ffcd56
  }


  .apexcharts-legend.apexcharts-align-center.apx-legend-position-bottom {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    gap: 15px;

    .apexcharts-legend-series {
      border: 1px solid rgb(255 255 255 / 28%);
      border-radius: 7px;
      padding: 5px 9px;

      .apexcharts-legend-marker {
        width: 20px !important;
        height: 20px !important;
        margin-right: 8px;
      }

      .apexcharts-legend-text {
        font-family: "Poppins" !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 20px !important;
        color: #ccc !important;
      }
    }
  }
}

.progress-radial {
  width: 180px;
  height: 180px;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
    background-image: url("../icons/dots.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .outer {
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .inner {
    height: 148px;
    width: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 8px solid rgba(239, 237, 248, 0.8);
  }

  #progressNum {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    color: #fff;
  }

  circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    stroke-width: 20px;
    animation: anim 1s linear forwards;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@keyframes anim {
  100% {
    // 450 - 450 * 0.35 = 292.5
    stroke-dashoffset: 292.5;
  }
}

@media screen and (max-width: 1500px) {
  .stacking-chart {
    #SvgjsText1020 {
      display: none;
    }

    .apexcharts-legend.apexcharts-align-center.apx-legend-position-bottom {
      .apexcharts-legend-series {

        .apexcharts-legend-marker {
          width: 16px !important;
          height: 16px !important;
          margin-right: 8px;
        }

        .apexcharts-legend-text {
          font-size: 14px !important;
        }
      }
    }
  }

  .progress-radial {
    width: 180px;
    height: 180px;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 999;
      right: 0;
      top: 0;
      background-image: url("../icons/dots.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .outer {
      height: 160px;
      width: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    .inner {
      height: 148px;
      width: 148px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 8px solid rgba(239, 237, 248, 0.8);
    }

    #progressNum {
      font-weight: 500;
      font-size: 32px;
      line-height: 100%;
      color: #fff;
    }

    circle {
      fill: none;
      stroke: url(#GradientColor);
      stroke-dasharray: 450;
      stroke-dashoffset: 450;
      stroke-width: 20px;
      animation: anim 1s linear forwards;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}