// .themeSwitch {
//     width: 90px;
//     height: 40px;
//     background-color: #fff;
//     border-radius: 27px;
//     display: flex;
//     align-items: center;
//     font-weight: 700;
//     font-size: 20px;
//     position: relative;
//     cursor: pointer;
//     color: #F9BE50;

//     &__input {
//         display: none;
//     }

//     &__btn {
//         width: 33px;
//         height: 33px;
//         background-image: url('../img/sun.png');
//         background-position: center;
//         background-size: contain;
//         background-repeat: no-repeat;
//         position: absolute;
//         top: 50%;
//         right: 0;
//         transform: translateY(-50%) translateX(-5px);
//         transition: all 0.2s ease-in-out;

//         &.off {
//             transform: translateY(-50%) translateX(-52px);
//         }
//     }
// }

// .search-input {
//     position: relative;
//     width: 100%;
//     max-width: 780px;

//     img {
//         position: absolute;
//         left: 18px;
//         top: 50%;
//         transform: translateY(-50%);
//     }

//     input {
//         width: 100%;
//         background: rgba(255, 255, 255, 0.24);
//         height: 48.31px;
//         border-radius: 40px;
//         color: #fff;
//         padding: 0px 30px 0px 60px;
//         font-size: 18px;
//         outline: none !important;

//         &::placeholder {
//         color: #fff;
//         }
//     }
// }

// @media screen and (max-width: 1500px) {
//     .search-input {

//         input {
//             font-size: 16px;
//             line-height: 20px;

//         }
//     }

//     .logo {
//         max-width: 150px;
//     }

//     .themeSwitch {
//         font-size: 18px;
//     }
// }

// .nav-toggle-btn {
//     display: none;
// }

// @media screen and (max-width: 1199px) {
//     .nav-toggle-btn {
//         display: block;
//     }
// }

// @media screen and (max-width: 1024px) {
//     .nav-toggle-btn {
//         position: absolute;
//         left: 19px;
//     }

//     .search-input {

//         input {
//             height: 54.31px;
//         }
//     }
// }









.themeSwitch {
    width: 90px;
    height: 40px;
    background-color: #5D60ED;
    border-radius: 27px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    color: #F9BE50;

    &__input {
        display: none;
    }

    &__btn {
        width: 33px;
        height: 33px;
        background-image: url('../img/sun.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%) translateX(-5px);
        transition: all 0.2s ease-in-out;

        &.off {
            transform: translateY(-50%) translateX(-52px);
        }
    }
}

.logo {
    margin-left: 70px;

    img {
        width: 120px;
        position: relative;
        margin-bottom: 0;
    }
}

.search-input {
    position: relative;
    width: 100%;
    max-width: 100%;
    // background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    img {
        position: absolute;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
    }

    input {
        width: 100%;
        background: transparent;
        height: 48.31px;
        border-radius: 5px;
        color: #fff;
        padding: 0px 30px 0px 60px;
        font-size: 18px;
        outline: none !important;

        &::placeholder {
            color: #fff;
        }
    }
}

#main-header.classB {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 202px;
    background: rgb(65 65 65 / 20%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);

}

@media screen and (max-width: 1500px) {
    .search-input {

        input {
            font-size: 16px;
            line-height: 20px;

        }
    }

    .logo {
        max-width: 150px;
    }

    .themeSwitch {
        font-size: 18px;
    }
}

.nav-toggle-btn {
    display: none;
}

@media screen and (max-width: 1199px) {

    .nav-toggle-btn {
        display: block;
    }

    #main-header.classB {
        height: 190px;


    }
}

@media screen and (max-width: 1024px) {
    .nav-toggle-btn {
        position: absolute;
        left: 19px;
    }

    .search-input {

        input {
            height: 54.31px;
        }
    }

    .logo {
        margin-left: 70px;
    }
}

@media screen and (max-width: 991px) {

    .nav-toggle-btn {
        display: block;
    }

    #main-header.classB {
        height: 280px;


    }

    .logo {
        margin-left: 0px;
    }
}

@media screen and (max-width: 480px) {
    #main-header {
        height: 200px;
    }

    .logo-inner {
        margin-bottom: 10px;

        .logo {
            margin-left: 0px;

            img {
                width: 100px;
            }
        }
    }

    .search {
        h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }
    }

    .search-input {

        input {
            font-size: 16px;
            line-height: 20px;
            height: 40px;
        }
    }
}

.theme-switch {
    display: none !important;
}